* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body, #root {
  background-color: #F7F7F7;
  height: 100%;
}

:root {
  --primary: #FF4400;
  --branco: #FFFFFF;
  --background: #F7F7F7;
  --background-text: #999999;
  --text: #848FAC;
  --text-feed: #424F7B;
  --names: #192252;
}