@import '../styles/index.css';

.loaderContainer {
  width: 100%;
  height: calc(100vh - 400px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loaderContainer img {
  width: 50px;
}