@import '../styles/index.css';

nav {
	background: #FFF;
	height: 80px;
	width: 100%;
}

.titulo {
	font-weight: 600;
	font-size: 2em;
	margin-right: 1em;
	margin-left: 0.5em;
	margin-top: 0.5em;
	display: inline-block;
	color: var(--primary);
}
.titulo b {
	color: #000;
}

.logo {
	color: #1d075f;
	font-size: 35px;
	line-height: 80px;
	font-weight: bold;
  height: 75px;
}

nav ul {
	float: right;
	margin-right: 20px;
  margin-block: 0;
}

nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}

nav ul li a {
	color: #1d075f;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
  text-decoration: none;
}

a:hover {
  color: #FFF;
	background: #1d075f;
	transition: .5s;
}

.checkbtn {
	font-size: 30px;
	color: #1d075f;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check {
	display: none;
}

[aria-current="page"] {
	background: #1d075f;
	color: #FFF;
}

.lista i {
	margin-right: 0.5em;
}

.lista {
	font-weight: 600;
}

@media (max-width: 956px){
	.checkbtn {
		display: block;
	}
	.lista{
    position: absolute;
		width: 100%;
		height: 101vh;
		background: #FFF;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
    z-index: 999;
    margin-right: 0 !important;
    padding: 0;
	}
	nav .lista li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav .lista li a {
		font-size: 20px;
	}

  .logo{
		font-size: 30px;
		padding: 0 0 0 10px;
	}

	a:hover {
		background: #1d075f;
		color: #FFF;
	}
	#check:checked ~ .lista {
		left: 0;
	}
} 

@media (max-width: 490px) {
	img {
		display: none;
	}

	.titulo {
		margin: 0.5em 0 0 1em;
	}
}